.search-box {
    position: relative;
    width: 350px;
    margin: 20px;
}

.list {
    position: absolute;
    width: 100%;
    border: 1px solid #ddd;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 10;
}

.list li {
    padding: 8px;
    cursor: pointer;
}

.list li:hover {
    background: #e5f3ff;
}

.explorer-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
}

/* .search-box {
    position: relative;
    width: 350px;
    margin: 20px;
}

.list {
    position: absolute;
    width: 100%;
    border: 1px solid #ddd;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 10;
}

.list li {
    padding: 8px;
    cursor: pointer;
}

.list li:hover {
    background: #e5f3ff;
} */
